<form [formGroup]="clienteForm" (ngSubmit)="crear()">

    <mat-card class="example-card">

        <mat-card-header>
            <mat-card-title>Crear Cliente</mat-card-title>
        </mat-card-header>

        <mat-card-content class="contenido">
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" required formControlName="nombre" id="nombre" name="nombre">
                <mat-error *ngIf="clienteForm.controls.nombre.errors?.required">
                    El nombre es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Tipo documento</mat-label>
                <input matInput placeholder="Tipo documento" required formControlName="tipoIdentificacion" id="tipoIdentificacion" name="tipoIdentificacion">
                <mat-error *ngIf="clienteForm.controls.tipoIdentificacion.errors?.required">
                    El tipo de documento es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Número documento</mat-label>
                <input matInput placeholder="Número documento" required formControlName="numeroIdentificacion" id="numeroIdentificacion" name="numeroIdentificacion">
                <mat-error *ngIf="clienteForm.controls.numeroIdentificacion.errors?.required">
                    El número de documento es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>

        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button type="submit" [color]="clienteForm.valid?'primary':'warn'" [disabled]="!clienteForm.valid">Crear</button>
        </mat-card-actions>

    </mat-card>

</form>