.flex {
  margin-top: 2rem;
  display: flex; }

.flex div {
  display: flex;
  align-items: center;
  margin: 0 3rem; }

.flex h1 {
  text-align: justify; }
  .flex h1 span {
    font-weight: bold; }

.flex img {
  flex-basis: 50%;
  border-radius: 25px;
  width: 100%; }
