<div class="container">
    <div>
        <h1>Lista de Clientes</h1>
    </div>



    <div>
        <table mat-table [dataSource]="clientesArray" class="mat-elevation-z8">

            <ng-container matColumnDef="id">
                <th *matHeaderCellDef> id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th *matHeaderCellDef> Nombre </th>
                <td *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>



            <ng-container matColumnDef="tipoIdentificacion">
                <th *matHeaderCellDef> Tipo tipoIdentificacion </th>
                <td *matCellDef="let element"> {{element.tipoIdentificacion}} </td>
            </ng-container>


            <ng-container matColumnDef="numeroIdentificacion">
                <th *matHeaderCellDef> núm. Identificacion </th>
                <td *matCellDef="let element"> {{element.numeroIdentificacion}} </td>
            </ng-container>


            <ng-container matColumnDef="acciones">
                <th *matHeaderCellDef> Crear cliente </th>
                <td *matCellDef="let element;">
                    <button id="clientes" class="accion_button" mat-mini-fab color="primary" matTooltip="Crear C" (click)="enviarInformacion(element)" routerLinkActive="active">Crear</button>
                </td>
            </ng-container>



            <ng-container matColumnDef="accionesDos">
                <th *matHeaderCellDef> Eliminar cliente </th>
                <td *matCellDef="let element;">
                    <button id="clientes" class="accion_button" mat-mini-fab color="primary" matTooltip="Crear C" (click)="eliminarInformacion(element)" routerLinkActive="active">Eliminar</button>
                </td>
            </ng-container>








            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row id="pago-row" *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </table>
    </div>

</div>
<router-outlet></router-outlet>