<form [formGroup]="pagoForm" (ngSubmit)="crearPago()">

    <mat-card class="example-card">

        <mat-card-header>
            <mat-card-title>Crear pago</mat-card-title>
        </mat-card-header>

        <mat-card-content class="contenido">
            <mat-form-field>
                <mat-label>Referencia pago</mat-label>
                <input matInput placeholder="referenciaPago" required formControlName="referenciaPago" id="nombre" name="referenciaPago">
                <mat-error *ngIf="pagoForm.controls.referenciaPago.errors?.required">
                    La referencia de pago es <strong>requerida</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>ide cliente</mat-label>
                <input matInput placeholder="cliente" required formControlName="cliente" id="cliente" name="cliente">
                <mat-error *ngIf="pagoForm.controls.cliente.errors?.required">
                    El ide cliente es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Aplica descuento</mat-label>
                <input matInput placeholder="aplicaDescuento" required formControlName="aplicaDescuento" id="aplicaDescuento" name="aplicaDescuento">
                <mat-error *ngIf="pagoForm.controls.aplicaDescuento.errors?.required">
                    El campo aplica descuento es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>



            <mat-form-field>
                <mat-label>Valor a pagar</mat-label>
                <input matInput placeholder="valor a pagar" required formControlName="valorBase" id="valorBase" name="valorBase">
                <mat-error *ngIf="pagoForm.controls.valorBase.errors?.required">
                    El valor a pagar es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Fecha registro</mat-label>
                <input matInput type="date" formControlName="fechaRegistro" id="fechaRegistro" name="fechaRegistro" class="form-control" matInput>
                <mat-error *ngIf="pagoForm.controls.fechaRegistro.errors?.required">
                    La fecha es un campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>

        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button type="submit" [color]="pagoForm.valid?'primary':'warn'" [disabled]="!pagoForm.valid">Crear</button>
        </mat-card-actions>

    </mat-card>

</form>