<form [formGroup]="pagoForm" (ngSubmit)="crearPago()">

    <mat-card class="example-card">

        <mat-card-header>
            <mat-card-title>Crear pago</mat-card-title>
        </mat-card-header>

        <mat-card-content class="contenido">
            <mat-form-field>
                <mat-label>Referencia pago</mat-label>
                <input matInput placeholder="referenciaPago" required formControlName="referenciaPago" id="nombre" name="referenciaPago">
                <mat-error *ngIf="pagoForm.controls.referenciaPago.errors?.required">
                    La referencia de pago es <strong>requerida</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>ide cliente</mat-label>
                <input matInput placeholder="idCliente" required formControlName="idCliente" id="tipoDocumento" name="idCliente">
                <mat-error *ngIf="pagoForm.controls.idCliente.errors?.required">
                    El ide cliente es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Valor a pagar</mat-label>
                <input matInput placeholder="valor a pagar" required formControlName="valorBase" id="valorBase" name="valorBase">
                <mat-error *ngIf="pagoForm.controls.valorBase.errors?.required">
                    El valor a pagar es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="datepicker" required formControlName="fechaRegistro" id="fechaRegistro" name="fechaRegistro">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker>
                    <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                    </mat-datepicker-actions>
                </mat-datepicker>
                <mat-error *ngIf="pagoForm.controls.fechaRegistro.errors?.required">
                    La fecha es un campo <strong>requerido</strong>
                </mat-error>
            </mat-form-field>



        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button type="submit" [color]="pagoForm.valid?'primary':'warn'" [disabled]="!pagoForm.valid">Crear</button>
        </mat-card-actions>

    </mat-card>

</form>